<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [26]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [5]:
# your code goes here
df.duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [6]:
# your code goes here
df.drop_duplicates(inplace = True)

Verify if duplicates were actually dropped.

In [9]:
# your code goes here
df.duplicated().sum()

0

## Finding Missing values

Find the missing values for all columns.

In [14]:
# your code goes here
df.isnull().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [16]:
# your code goes here
df['Country'].isnull().sum()

0

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [36]:
# your code goes here
df['WorkLoc'].value_counts()

Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [34]:
#make a note of the majority value here, for future reference
#Office is the most frequent in the WorkLoc column
fr = df['WorkLoc'].mode()
fr

0    Office
dtype: object

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [28]:
# your code goes here
df['WorkLoc'].replace(np.NaN, 'Office', inplace = True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [32]:
# your code goes here
df['WorkLoc'].value_counts()

Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [37]:
# your code goes here
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [42]:
# your code goes here
df['NormalizedAnnualCompensation'] = np.where(
    df['CompFreq'] == 'Weekly', df['CompTotal'] * 52, np.where(
    df['CompFreq'] == 'Monthly', df['CompTotal'] * 12, df['CompTotal']))
df[['CompFreq', 'CompTotal','NormalizedAnnualCompensation','ConvertedComp']].head(20)

   CompFreq  CompTotal  NormalizedAnnualCompensation  ConvertedComp
0    Yearly    61000.0                       61000.0        61000.0
1    Yearly   138000.0                      138000.0        95179.0
2    Yearly    90000.0                       90000.0        90000.0
3   Monthly    29000.0                      348000.0       455352.0
4    Yearly    90000.0                       90000.0        65277.0
5   Monthly     9500.0                      114000.0        31140.0
6   Monthly     3000.0                       36000.0        41244.0
7    Yearly   103000.0                      103000.0       103000.0
8    Yearly    69000.0                       69000.0        69000.0
9   Monthly     8000.0                       96000.0        26388.0
10  Monthly     7000.0                       84000.0         6300.0
11   Yearly   114000.0                      114000.0       114000.0
12   Weekly     2000.0                      104000.0       100000.0
13   Weekly    22000.0                     1144000.0      1100000.0
14  Monthly    96000.0                     1152000.0        51312.0
15   Yearly   156000.0                      156000.0       156000.0
16   Yearly    18000.0                       18000.0        20623.0
17  Monthly     6400.0                       76800.0        87996.0
18  Monthly     5000.0                       60000.0        60000.0
19   Yearly   400000.0                      400000.0         5597.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).